<footer>
	<!-- <div id="bottom-layout-image"><img src="/assets/images/layout/nadebrag-grass-7318026.png" class="noformat"
			alt="white flower"></div> -->
	<div id="footer-layout-image"><img src="/assets/images/layout/canva-flowers.webp" class="noformat"
			alt="white flower"></div>
	<div id="footer-bg" class="fancy-border">
		<div class="corner top left"></div>
		<div class="corner top right"></div>
		<div class="corner bottom left"></div>
		<div class="corner bottom right"></div>
		<div class="footer-left">
			<button class="fancy-highlight" disabled>
				<span class="left"></span>
				<span class="right"></span>
				© {{ page.date | readableYear }} Aque
			</button>
			<button class="fancy-highlight contact" disabled>
				<span class="left"></span>
				<span class="right"></span>
				<a href="mailto:{{site.author.email}}?body=Remember to edit the e-mail address if you're not an AI!"
					target="_blank">Contact me</a>
			</button>
		</div>
		<div class="footer-right">
			<a class="footer-badges" href="https://nekoweb.org/" target="_blank">
				<img src="https://nekoweb.org/assets/buttons/button5.gif" alt="Nekoweb button">
			</a>
			<a class="footer-badges" href="https://neocities.org/" target="_blank">
				<img src="/assets/images/layout/neocitieslogo.svg" alt="Neocities button" class="footer-badges">
			</a>
			<a class="footer-badges" href="https://notbyai.fyi" target="_blank"><img
					src="/assets/images/layout/Created-By-a-Human-Not-By-AI-Badge-white.png"
					alt="'Created by a human not by AI' badge"></a>
		</div>
	</div>
</footer>