<div id="header-layout-image"><img src="/assets/images/layout/canva-vines2.webp" class="noformat layout-image"
		alt="header vines">
</div>
<header id="hero-bg" class="fancy-border">
	<div class="corner top left"></div>
	<div class="corner top right"></div>
	<div class="corner bottom left"></div>
	<div class="corner bottom right"></div>
	<div id="hero-body" class="heading">
		<div class="logo">
			<img src="/assets/images/layout/canva-frog.webp" class="noformat layout-image" id="header-logo-image"
				alt="cute cartoon frog image in the site header">
			<div>
				<h1 class="title">Broadly in favor of humanity</h1>
				<div class="subtitle">
					<span>Do it scared.</span>
					<span>Do it weird.</span>
					<span>Kill the cop inside your head.</span>
				</div>
			</div>
		</div>
		<div class="accessibility-btns">
			<label class="switch dark-toggle" data-tip="Toggle Dark mode">
				<input type="checkbox">
				<span class="slider slider-dark round"></span>
			</label>
			<label class="switch contrast-toggle" data-tip="Toggle Contrast mode">
				<input type="checkbox" title="Contrast mode">
				<span class="slider slider-yellow round"></span>
			</label>
			<label class="switch complexity-toggle" data-tip="Reduce visual complexity">
				<input type="checkbox">
				<span class="slider round"></span>
			</label>
			<label class="switch font-toggle" data-tip="Disable special fonts">
				<input type="checkbox">
				<span class="slider round"></span>
			</label>
		</div>
		{% if page.data.print %} test {% include "_print.html" %}{% endif %}
	</div>
</header>