<div class="layout-image" id="header-layout-image"></div>
<header id="hero-bg" class="fancy-border">
	<div class="corner top left"></div>
	<div class="corner top right"></div>
	<div class="corner bottom left"></div>
	<div class="corner bottom right"></div>
	<div id="hero-body" class="heading">
		<div id="page-header">
			<a href="/" title="click to go to homepage">
				<div id="page-logo" class="layout-image"></div>
			</a>
			<div id="page-title">
				<a href="/" title="click to go to homepage">
					<h1 class="title">Broadly in favor of humanity</h1>
					<div class="subtitle">
						<span>Do it scared.</span>
						<span>Do it weird.</span>
						<span>Kill the cop inside your head.</span>
					</div>
				</a>
			</div>
			</a>
		</div>
		<div class="aside">
			<div class="accessibility-btns accessibility">
				{% include "_toggles.html" %}
			</div>
			<div id="print-btn">
				{% include "_print.html" %}<span class="icon tooltip-icon" data-tip="better print interface - allows to remove elements before print"></span>
			</div>
		</div>
	</div>
	<div id="nav-layout-image" class="layout-image"></div>
</header>