<div class="sidebar menu">
    <div>
    {% capture pageTags %}{{tags}}{% endcapture %}
        <ul class="noformat menu-list">
            <li><a class="menu-item{% if pageTags=='home' %} active-link{% endif %}" href="/">Home</a></li>
        </ul>
    </div>
    {%- for category in nav.categories -%}
    <details class="noformat{% if pageTags == category.name %} open{% endif %}" {% if pageTags==category.name %} open{%
        endif %}>
        <summary class="noformat">
            <h4 class="menu-label{% if pageTags == category.name %} open-category{% endif %}"><span class="icon"><i
                        class="{{category.icon}}"></i></span><span class="category-name">{{category.name}}</span>
            </h4>
        </summary>
        <ul class="noformat menu-list">
            {%- assign links = collections[category.name] | order -%}
            {%- for element in links -%}
            <li><a class="menu-item{% if element.url==page.url %} active-link{% endif %}"
                    href="{% if element.url %}{{ element.url }}{% else %}{{ element.data.link }}{% endif %}"
                    target="{{element.data.target}}">{{element.data.displayName}}</a></li>
            {%- endfor %}
        </ul>
    </details>
    {%- endfor %}
</div>