<div id="nav-layout-image"><img src="/assets/images/layout/canva-vines1.webp" class="noformat layout-image" alt="menu vines"></div>
<nav class="fancy-border">
	<div class="corner top left"></div>
	<div class="corner top right"></div>
	<div class="corner bottom left"></div>
	<div class="corner bottom right"></div>
	<div class="navigation">
		{% heading "h2", "Menu" %}
		{% include "_menu.html" %}
		<div class="sidebar">
			{%- assign date = page.date | readableMonth -%}
			{%- assign subtitle = "Last updated: <strong>" | append: date | append:
				"</strong>"-%}
			{% heading "h3", "Updates", subtitle %}
			<ul class="logs">
				{%- for element in nav.changelog -%}
				<li>
					<strong>{{element.date | readableDate}}</strong> - {{element.log}}
				</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
	<div class="navigation-mobile">
		<div class="hamburger-toggle">
			<div>
				<input class="checkbox" type="checkbox" name="" id="" />
				<div class="hamburger-lines">
					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
				</div>
			</div>
			<div class="label">
				<h2>Menu</h2>
			</div>
		</div>

		{% include "_menu.html" %}

	</div>
</nav>