<span>Accessibility toggles: </span>
<div>
    <label class="switch dark-toggle" data-tip="Toggle Dark mode">
        <input type="checkbox">
        <span class="slider slider-dark round"></span>
    </label>
    <label class="switch contrast-toggle" data-tip="Toggle Contrast mode">
        <input type="checkbox" title="Contrast mode">
        <span class="slider slider-yellow round"></span>
    </label>
    <label class="switch complexity-toggle" data-tip="Reduce visual complexity">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
    <label class="switch font-toggle" data-tip="Disable special fonts">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>