<span>Accessibility toggles:</span>
<div class="toggles">
    <div class="toggle">
        <div>
            <span class="hide-toggle icon darkmode-icon"
                style="background-image: url('/assets/images/layout/font-awesome/moon-solid-full.svg');"></span>
            <span class="icon darkmode-icon"
                style="background-image: url('/assets/images/layout/font-awesome/sun-regular-full.svg');"></span>
            <span>Darkmode</span>
        </div>
        <label class="switch" id="dark-toggle" data-tip="Toggle Dark mode">
            <input type="checkbox">
            <span class="slider round" id="slider-dark"></span>
        </label>
    </div>
    <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/eye-low-vision-solid-full.svg');"></span><span>contrast</span>
        </div>
        <label class="switch" id="contrast-toggle" data-tip="Toggle Contrast mode">
            <input type="checkbox">
            <span class="slider round" id="slider-yellow"></span>
        </label>
    </div>
    <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/font-solid-full.svg');"></span><span>dyslexic
                font</span>
        </div>
        <label class="switch" id="dyslexia-toggle" data-html="true" data-tip="Toggle Open Dyslexic font">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/text-slash-solid-full.svg');"></span><span>special
                fonts</span>
        </div>
        <label class="switch" id="font-toggle" data-tip="Toggle special fonts">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
        <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/text-height-solid-full.svg');"></span><span>bigger text</span>
        </div>
        <label class="switch" id="fontsize-toggle" data-tip="Toggle increased font size">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="layout-padding"></div>
    <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/strikethrough-solid-full.svg');"></span><span>complexity</span>
        </div>
        <label class="switch" id="complexity-toggle" data-tip="Toggle visual complexity">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="toggle">
        <div>
            <span class="icon"
                style="background-image: url('/assets/images/layout/font-awesome/image-solid-full.svg');"></span><span>animations</span>
        </div>
        <label class="switch" id="animation-toggle" data-tip="Toggle moving elements">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>