<footer>
	<div class="noformat footer-layout-image layout-image" id="flower"></div>
	<div id="footer-bg" class="fancy-border">
		<div class="corner top left"></div>
		<div class="corner top right"></div>
		<div class="corner bottom left"></div>
		<div class="corner bottom right"></div>
		<div class="footer-left">
			<div class="fancy-highlight">
				<span class="side left"></span>
				<span class="side right"></span>
				© {{ "now" | date: "%Y" }} Aque
			</div>
			<div class="fancy-highlight contact">
				<span class="side left"></span>
				<span class="side right"></span>
				<a href="mailto:{{site.author.email}}?body=Remember to edit the e-mail address if you're not an AI!"
					target="_blank">Contact me</a>
			</div>
			<div class="no-break"><span>visitors so far:</span><script type="text/javascript" src="https://counter.websiteout.com/js/30/0/0/1"></script></div>
		</div>
		<div class="footer-right">
			<a class="footer-badges" href="https://nekoweb.org/" target="_blank">
				<img class="animated" src="/assets/images/layout/nekoweb.webp" alt="Nekoweb button">
			</a>
			<a class="footer-badges" href="https://neocities.org/" target="_blank">
				<img src="/assets/images/layout/neocities-button.gif" alt="Neocities button" class="footer-badges">
			</a>
			<a class="footer-badges" href="https://notbyai.fyi" target="_blank"><img
					src="/assets/images/layout/Created-By-a-Human-Not-By-AI-Badge-white.png"
					alt="'Created by a human not by AI' badge"></a>
		</div>
	</div>
</footer>