<div class="layout__image layout__image__header"></div>
<div class="layout__header">
	<header class="theme__border-square theme__block--secondrary">
		{% include "partials/_decor-corners.html" %}
		<div
			class="header layout__flex-block__row layout__flex-block__row--big layout__flex-block--space-between theme__block--accent theme__block--border">
			<div class="layout__block">
				<div class="header__page-title">
					<a href="/" title="click to go to homepage" class="header__link">
						<div class="layout-image layout__image__logo"></div>
					</a>
					<div class="layout__flex-block__stack header__page-title__text">
						<a href="/" title="click to go to homepage" class="header__link">
							<div class="header__page-title__title">Broadly in favor of humanity</div>
							<div class="header__page-title__subtitle layout__flex-block__stack">
								<span>Do it scared.</span>
								<span>Do it weird.</span>
								<span>Kill the cop inside your head.</span>
							</div>
						</a>
					</div>
					</a>
				</div>
			</div>
			<div class="layout__block layout__flex-item__aside header__access-card">
				<noscript>
					<div class="design__disclaimer design__dislaimer-js">Your browser does not support JavaScript and as such the
						accessibility toggles won't work. The site
						you're seeing is stripped of decorations, but should be fully functional.</div>
					<style>
						.access-card__grid__toggle {
							opacity: 0.8;
							filter: grayscale(100%);
							pointer-events: none;
						}
					</style>
				</noscript>

				{% include "partials/_toggles.html" %}
			</div>
		</div>
	</header>
</div>