<nav class="sitenav__menu">
    {%- for navigationCategory in navCategories -%}
    <details class="sitenav__menu-category__label {% if category contains navigationCategory %} sitenav__menu-category--open{% endif %}" {% if category contains
        navigationCategory %} open{% endif %}>
        <summary class="sitenav__menu-category__name theme__block--accent--gradient">
            <span class="sitenav__menu-category"><span
                    class="icon icon--left"
                    style="--layout-img: url('/assets/images/layout/font-awesome/categories/{{navigationCategory}}.svg');"></span><span>{{navigationCategory}}</span>{% pixel-decor-small %}
            </span>
            <span class="sitenav__plus-lines"></span>
        </summary>
        <ul class="sitenav__menu-list">
            {%- assign menuLinks = collections.menuPages | sort: "data.order" -%}
            {%- for link in menuLinks -%}
            {%- if link.data.category == navigationCategory %}
            <li><a class="sitenav__menu-link theme__block--secondrary--gradient {% if link.url==page.url %}sitenav__menu-link--active{% endif %}"
                    href="{% if link.url %}{{ link.url }}{% else %}{{ link.data.link }}{% endif %}"
                    {% if link.data.target %}target="{{link.data.target}}"{% endif %}>{{link.data.linkName}}</a></li>
            {%- endif %}
            {%- endfor %}
        </ul>
    </details>
    {%- endfor %}
</nav>