<div class="layout__image layout__image__nav"></div>
<aside class="layout__sidebar theme__border-square theme__block--primary">
	{% include "partials/_decor-corners.html" %}
	<div class="layout__flex-block__stack sitenav layout__flex-block--space-between">
		<div>
			{% include "partials/_menu.html" %}
			{% divider-center %}
			{%- assign date = "now" | date: "%m/%Y" -%}
			{% assign subtitle = "<time>" | append: date | append: "</time>" %}
			{% heading "h4", "Last updated", subtitle %}
			<!-- <img src="/assets/images/layout/sitemap.gif"> -->
			{% divider-center %}
			{% include "content/_appreciation.html" %}
		</div>
	</div>
	<div class="sitenav--mobile">
		<div class="sitenav__hamburger">
			<div>
				<input class="sitenav__mobile-menu__toggle" type="checkbox" name="" id="" />
				<div class="sitenav__hamburger-lines">
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line1"></span>
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line2"></span>
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line3"></span>
				</div>
			</div>
			<div class="sitenav__mobile-label">Menu</div>
		</div>

		{% include "partials/_menu.html" %}

	</div>
</aside>