<div class="layout__image layout__image__nav"></div>
<aside class="layout__sidebar theme__border-square theme__block--primary">
	{% include "partials/_decor-corners.html" %}
	<div class="layout__flex-block__stack sitenav layout__flex-block--space-between">
		<div>
			{% include "partials/_menu.html" %}
			{% include "partials/_sidebar.html" %}
		</div>
	</div>
	<div class="sitenav--mobile">
		<div class="sitenav__hamburger">
			<div>
				<input class="sitenav__mobile-menu__toggle" type="checkbox" name="" id="">
				<div class="sitenav__hamburger-lines">
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line1"></span>
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line2"></span>
					<span class="sitenav--mobile__hamburger-line sitenav--mobile__hamburger__line3"></span>
				</div>
			</div>
			<div class="sitenav__mobile-label">Menu</div>
		</div>
		{% include "partials/_menu.html" %}
	</div>
</aside>