<details class="access__accordion theme__block--primary--full">
    <summary class="access__accordion__summary"><span class="access__label">Accessibility toggles</span></summary>
    <div class="access-card__container theme__block--primary--full">
        <div class="access-card__grid">
            <div class="access-card__grid__toggle theme__block--accent">
                <div>
                    <span class="theme--hide-toggled icon darkmode-icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/moon-solid-full.svg');"></span>
                    <span class="icon darkmode-icon"
                        style="background-image: url('/assets/images/layout/font-awesome/sun-regular-full.svg');"></span>
                    <label class="access__label--small">Darkmode</label>
                </div>
                <label class="switch" id="dark-toggle" data-tip="Toggle Dark mode">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round switch__slider--dark"></span>
                </label>

            </div>
            <div class="access-card__grid__toggle theme__block--border theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/eye-low-vision-solid-full.svg');"></span><label
                        class="access__label--small">contrast</label>
                </div>
                <label class="switch" id="contrast-toggle" data-tip="Toggle Contrast mode - will override dark mode">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round switch__slider--yellow"></span>
                </label>
            </div>
            <div class="access-card__grid__toggle theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/text-slash-solid-full.svg');"></span><label
                        class="access__label--small">special
                        fonts</label>
                </div>
                <label class="switch" id="font-toggle" data-tip="Toggle special fonts">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round"></span>
                </label>
            </div>
            <div class="access-card__grid__toggle theme__block--border theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/font-solid-full.svg');"></span><label
                        class="access__label--small">dyslexic
                        font</label>
                </div>
                <label class="switch" id="dyslexia-toggle" data-html="true"
                    data-tip="Toggle Open Dyslexic font - will override special fonts">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round"></span>
                </label>
            </div>
            <div class="access-card__grid__toggle theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/text-height-solid-full.svg');"></span><label
                        class="access__label--small">bigger
                        text</label>
                </div>
                <label class="switch" id="fontsize-toggle" data-tip="Toggle increased font size">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round"></span>
                </label>
            </div>
            <div class="access-card__grid__toggle theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/strikethrough-solid-full.svg');"></span><label
                        class="access__label--small">complexity</label>
                </div>
                <label class="switch" id="complexity-toggle" data-tip="Toggle visual complexity">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round"></span>
                </label>
            </div>
            <div class="access-card__grid__toggle theme__block--accent"><img class="animated"
                    src="/assets/images/layout/decohoard/froggy.gif"
                    alt="pixel frog next to bouncing letters spelling FROGGY"><label class="access__label--small">motion
                    reduction check</label></div>
            <div class="access-card__grid__toggle theme__block--accent">
                <div>
                    <span class="icon icon--left"
                        style="background-image: url('/assets/images/layout/font-awesome/image-solid-full.svg');"></span><label
                        class="access__label--small">animations</label>
                </div>
                <label class="switch" id="animation-toggle" data-tip="Toggle moving elements">
                    <input type="checkbox" class="switch__input">
                    <span class="switch__slider switch__slider--round"></span>
                </label>
            </div>
        </div>
    </div>
</details>