:root {
	--color-light: #dafbd5;
	--color-dark: rgb(28, 74, 29);
	--color-primary: #c6f9be;
	--color-secondrary: #96d98c;
	--color-accent: #FFE6FF;
	--border-radius: 1rem;
	--color-transparent: transparent;
	--transparency: 60%;
	--test-color: red;
	--bg-gradient-left: linear-gradient(to right, var(--color-accent) 10%, var(--color-transparent));
	--bg-gradient-right: linear-gradient(to left, var(--color-secondrary), var(--color-transparent));
	--bg-gradient-top: linear-gradient(to bottom, var(--color-accent), var(--color-transparent));
	--font-color: var(--color-dark);
	--min-column-height: 70rem;
	--border-color: var(--color-dark);
	color: var(--font-color);
	--color-primary-transparent: color-mix(in srgb, var(--color-primary) var(--transparency), transparent);
	--color-secondrary-transparent: color-mix(in srgb, var(--color-secondrary) var(--transparency), transparent);
	--color-accent-transparent: color-mix(in srgb, var(--color-accent) var(--transparency), transparent);
	--color-light-transparent: color-mix(in srgb, var(--color-light) var(--transparency), transparent);

	--min-viewport-width: 600px;
}