---
layout: layouts/_page
---
{% if DnDcharsheet %}
<section>
    {% flex-stack %}
    <strong>Files available: </strong>
    <p>DnD 5e character sheet <a href="/assets/pdf/{{DnDcharsheet}}" target="_blank" class="link__download"><img
                src="/assets/images/layout/download.gif" alt="download link" title="{{DnDcharsheet}}"></a></p>
    {% endflex-stack %}
</section>{% endif %}
{{content}}
<section>
    {% divider-lines %}
    <div class="design__box design__box--small">
        <div class="theme__border-oval desing__decor-link design__center">
			{% include "partials/_decor-sides.html" %}<a href="/resources/characters" class="pagination__link">back to Characters</a></div>
    </div>
</section>
