---
layout: layouts/_page
category: resources
eleventyComputed:
  permalink: "/resources/webmastery/{{linkName | slugify }}.html"
tags:
- tutorials
---
<section>
<div class="design__meta btn-deco btn-deco style-15 layout__flex-block__row">
      <time>{{page.date | date: "%d/%m/%Y"}}</time>
    {% flex-stack-centered %}
      {% assign taglist = tags | exclude: "tutorials" %}
      <span>tagged under:</span><div>
        {% for tag in taglist %}
        <a href="/resources/webmastery/tags/{{tag | slugify}}.html"> {{tag}} </a>
        {% endfor %}</div>
    {% endflex-stack-centered %}

<div class="theme__border-oval desing__decor-link design__center">
			{% include "partials/_decor-sides.html" %}
    <a href="/resources/webmastery" class="pagination__link">back to Webmastery</a>
  </div>
</div>
{% divider-lines %}</section>
{{content}}
