---
layout: layouts/_page
category: resources
eleventyComputed:
  permalink: "/resources/webmastery/{{linkName | slugify }}.html"
tags:
- tutorials
---
<div class="design__meta theme__border-square layout__flex-block__row">
      <time>{{page.date | date: "%d/%m/%Y"}}</time>
    {% flex-stack-centered %}
      {% assign taglist = tags | exclude: "tutorials" %}
      <span>tagged under:</span><div>
        {% for tag in taglist %}
        <a href="/resources/webmastery/tags/{{tag}}/"> {{tag}} </a>
        {% endfor %}</div>
    {% endflex-stack-centered %}

  <div class="design__link--round">
    <a href="/resources/tutorials" class="pagination__link">back to Tutorials</a>
  </div>
</div>
{{content}}