---
date: Last Modified
eleventyComputed:
  title: "{{site.title}} | {{category}} | {{linkName}}"
  description: "{{site.description}}"
  pageTitle: "{{linkName}}"
order: 99
mainMenu: false
---
<!doctype html>
<html lang="en">

<head>
    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.data.description}}">
    <meta name="robots" content="noai, noimageai">
    <title>{{title}}</title>
    <link rel="preload" href="/assets/css/fonts.css" as="style"/>
     <link rel="style" href="/assets/css/fonts.css">
    <link rel="preload" href="/assets/javascript/accessibility.js" as="script">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/layout/favicon.ico">
    <link rel="stylesheet" href="/assets/photoswipe/photoswipe.css">
    <link rel="stylesheet"
        href="https://unpkg.com/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css">
    <script defer src="/assets/javascript/accessibility.js"></script>
</head>

<body>
    <div class="layout__website layout__flex-block__stack layout__flex-block--space-around">
        {% include "partials/_header.html" %}
        <!-- viewport -->
        <div class="layout__page">

            {% include "partials/_nav.html" %}

            <!-- main content -->
            <main class="layout__content theme__border-square theme__block--primary">
                {% include "partials/_decor-corners.html" %}

                {{content}}

            </main>
            <!-- main content end -->

        </div>

        {% include "partials/_footer.html" %}

    </div>
</body>

</html>