---
layout: layouts/_page
category: longform
eleventyComputed:
permalink: "longform/thoughts/{{ page.date | date: '%Y'}}/{{linkName | slugify }}.html"
tags:
- thoughts
---
<div class="design__meta theme__border-square layout__flex-block__row">
      <time>{{page.date | date: "%d/%m/%Y"}}</time>
    {% flex-stack-centered %}
      {% assign taglist = tags | exclude: "thoughts" %}
      <span>tagged under:</span><div>
        {% for tag in taglist %}
        <a href="../tags/{{tag}}/"> {{tag}} </a>
        {% endfor %}</div>
    {% endflex-stack-centered %}

  <div class="design__link--round">
    <a href="/longform/thoughts/page-1" class="pagination__link">back to Thoughts list</a>
  </div>
</div>
{{content}}