---
layout: layouts/_longform
category: longform
eleventyComputed:
  permalink: "longform/thoughts/{{ page.date | date: '%Y'}}/{{displayName | slugify }}.html"
tags:
  - thoughts
---
{% heading "h1", displayName, subtitle %}
<div class="design__box--small"><span><time>{{page.date | date: "%d/%m/%Y"}}</time>, tagged under:</span>
<div class="layout__flex-block__row">{% assign taglist = tags | exclude: "thoughts" %}
{% for tag in taglist %} 
<a href="../tags/{{tag}}/"> {{tag}} </a>
{% endfor %}</div></div>
<div class="design__box--small"><p class="design__link--round"><a href="/longform/thoughts/page-1">back to Thoughts list</a></p></div>
{% divider-center %}
{{content}}