---
layout: layouts/_page
---
<section>
{% theme__border-square %}
{{quote}}
{% endtheme__border-square %}
{% heading "h2", "Summary" %}
{%- flex-columns -%}{%- flex-item %}
{% block summary %}{% endblock %}
{{page.summary}}
test
{%- endflex-item -%}

{%- flex-aside -%}
{%- if portrait -%}{% gallery %}{% imageMine portrait %}{% endgallery %}{%- endif -%}
{{list}}
{%- endflex-aside -%}
{%- endflex-columns -%}
</section>

{% heading "h2", "Attributes" %}
<section>
<h3>Morals and values</h3>

{{morals}}
</section>
	
<section>
<h3>Appearance</h3>
	
{{appearance}}
</section>
	
<section>
<h3>Personality</h3>
	
{{personality}}
</section>
	
<section>
<h3>Relations</h3>
	
{{relations}}
</section>
	
{% heading "h2", "Religion" %}
<section>
<h3>Followers</h3>h3>
{{followers}}
</section>
	
<section>
<h3>Temples and priests</h3>
	
{{temples}}
</section>
	
<section>
<h3>Portrayal</h3>

{{portrayal}}
</section>
	
<section>
<h3>Rituals</h3>

{{rituals}}
</section>

<section>
    {% divider-lines %}
    <div class="design__box design__box--small">
        <div class="theme__border-oval desing__decor-link design__center">
			{% include "partials/_decor-sides.html" %}<a href="/resources/characters" class="pagination__link">back to Characters</a></div>
    </div>
</section>

{%- if portrait -%}{% include "partials/_photoswipe-script.html" %}{%- endif -%}
