@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Viaoda+Libre&display=swap");

.menu-list {
	line-height: 1.2rem;
	list-style-type: none;
	border-inline-start: 1rem;
	padding-inline-start: 1rem;
	margin: 0.2rem 0 0.2rem 0;
}

.menu-label {
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-image: var(--bg-gradient-left);
	border-radius: var(--border-radius);
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-family: "Viaoda Libre";
	font-size: 1.1rem;
	font-weight: bold;
	min-width:max-content;
}

.menu-list a {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.2rem;
	background-color: var(--color-secondrary);
	padding: 0.5rem;
	padding-left: 1rem;
	border-radius: var(--border-radius);
	text-align: left;
	width: 100%;
	border-top: 0.01rem solid var(--border-color);
	border-bottom: 0.01rem solid var(--border-color);
	font-family: "Poiret One";
	font-weight: bolder;
}

.menu-item .active {
	font-weight: bolder;
	background-color: var(--color-secondrary);
	/* background-image: var(--aq-bg-gradient-left); */
}