<div id="bottom-image"><img src="/assets/images/layout/canva-flowers.webp" alt="white flower"></div>
		<div id="footer-bg" class="fancy-border">
			<div class="corner top left"></div>
			<div class="corner top right"></div>
			<div class="corner bottom left"></div>
			<div class="corner bottom right"></div>
			<div class="side-left">
				<button class="fancy-highlight" style="background-color:transparent;" disabled>
					<span class="left"></span>
					<span class="right"></span>
					© 2026 Aque
				</button>
			</div>
			<div class="side-right">
				<a href="https://nekoweb.org/" target="_blank">
					<img src="https://nekoweb.org/assets/buttons/button5.gif" alt="Nekoweb button">
				</a>
				<a href="https://neocities.org/" target="_blank">
					<img src="/assets/images/layout/neocitieslogo.svg" alt="Neocities button" style="width:50px;">
				</a>
			</div>
		</div>