			<div id="hero-bg" class="fancy-border">
				<div class="corner top left"></div>
				<div class="corner top right"></div>
				<div class="corner bottom left"></div>
				<div class="corner bottom right"></div>
				<div id="hero-body" class="heading">
					<img src="/assets/images/layout/canva-frog.webp" id="header-image"
						alt="cute cartoon frog image in the site header">
					<div>
						<h1 class="title">Broadly in favor of humanity</h1>
						<div class="subtitle">
							<span>Do it scared.</span><br>
							<span>Do it weird.</span><br>
							<span>Kill the cop inside your head.</span>
						</div>
					</div>
				</div>
			</div>