<div class="corner top left"></div>
<div class="corner top right"></div>
<div class="corner bottom left"></div>
<div class="corner bottom right"></div>
<div class="navigation">
	<div class="menu" id="menu">
		<ul class="menu-list">
			<li><a class="" href="/" target="_parent">Home</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-address-card"></i></span><span>About
				me</span>
		</h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="/pages/about" target="_parent">Bio</a></li>
			<li><a class="menu-item" href="/pages/about/links" target="_parent">Other places to find
					me</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-folder-open"></i></span><span>Resources</span>
		</h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="/pages/resources/interview-questions" target="_parent">
					Job interview questions</a></li>
			<li><a class="menu-item" href="/pages/resources/deities" target="_parent">Deity characters</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-file-alt"></i></span><span>Creations</span>
		</h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="/pages/creations/art" target="_parent">Visual art</a></li>
			<li><a class="menu-item" href="/pages/creations/prose" target="_parent">Prose</a></li>
			<li><a class="menu-item" href="/pages/creations/poetry" target="_parent">Poetry</a></li>
			<li><a class="menu-item" href="https://konstellarium.neocities.org/" target="_blank">Original Characters</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-shapes"></i></span><span>Collections</span>
		</h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="https://raw-quotes.nekoweb.org/" target="_blank">Raw quotes</a></li>
			<li><a class="menu-item" href="/pages/collections/shinies" target="_parent">Shinies</a></li>
			<li><a class="menu-item" href="/pages/collections/commissions" target="_parent">Commissions</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-layer-group"></i></span><span>Technology</span>
		</h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="/pages/tech/edc" target="_parent">EDC</a></li>
			<li><a class="menu-item" href="/pages/tech/hardware" target="_parent">Hardware</a></li>
			<li><a class="menu-item" href="/pages/tech/software" target="_parent">Software</a></li>
		</ul>
		<h4 class="menu-label"><span class="icon"><i class="fas fa-newspaper"></i></span><span>Longer
				Letters</span></h4>
		<ul class="menu-list">
			<li><a class="menu-item" href="https://www.youtube.com/@LongerLetters" target="_blank">Channel</a></li>
			<li><a class="menu-item" href="#" target="_parent">Transcripts</a></li>
			<li><a class="menu-item" href="#" target="_parent">Essays</a></li>
		</ul>
	</div>
