<div class="design__disclaimer access--font">
    <h2 class="access--font"><span class="icon icon--left"
            style="--layout-img: url('/assets/images/layout/font-awesome/circle-info-solid-full.svg');"></span>
        Accessibility notice
        <span class="icon icon--right"
            style="--layout-img: url('/assets/images/layout/font-awesome/universal-access-solid-full.svg');"></span>
    </h2>
    <p>This entire website should work correctly with Reader Mode across all browsers. If
        you find
        it hard to read or would like to use a screen-reader, try pressing
        <strong>F9</strong>. If that doesn't work, the page simply has too little text
        for it to be eligible. In that case, I suggest using the "Complexity" toggle in top right to turn off
        most
        of the visual flair and noise.
    </p>
    <p>While you're there, check out the other toggles, they may make your stay here more enjoyable.</p>
    <p>The page starts in dark mode if your system preference is such. To view it in color, use the black
        toggle in top right.
    <p>These accessibility toggles in top right require javascript to work. To account for it malfunctioning,
        the site starts without flair and in system font, and only enables it on-load.</p>
</div>