{% heading "h2", "Link back" %}

If you want to link back, you can use these buttons :) I recommend uploading them to your own site, but hotlinking is okay!

<div class="external-code">
{% flex-columns-centered -%}
{%- flex-stack-centered -%}
static version
<a href="https://aque.fyi/" target="_blank" rel="external"><img src="https://aque.fyi/assets/images/by-aque/site-buttons/aques_pond_button_88x33_static.gif" alt="Aque's pond button" title="Aque's pond" class="noformat"></a>
<textarea class="code-textarea" rows="5" aria-label="link-back code"><a href="https://aque.fyi/" target="_blank" rel="external"><img src="https://aque.fyi/assets/images/by-aque/site-buttons/aques_pond_button_88x33_static.gif" alt="Aque's pond button" title="Aque's pond"></a></textarea>{% endflex-stack-centered %}
{%- flex-stack-centered -%}
animated version
<a href="https://aque.fyi/" target="_blank" rel="external"><img src="https://aque.fyi/assets/images/by-aque/site-buttons/aques_pond_button_88x33.gif" alt="Aque's pond button" title="Aque's pond" class="animated noformat"></a>
<textarea class="code-textarea" rows="5" aria-label="link-back code"><a href="https://aque.fyi/" target="_blank" rel="external"><img src="https://aque.fyi/assets/images/by-aque/site-buttons/aques_pond_button_88x33.gif" alt="Aque's pond button" title="Aque's pond"></a></textarea>
{%- endflex-stack-centered -%}
{%- endflex-columns-centered %}
</div>

These two were made by combining <a href="https://phewcumber.itch.io/froglet" target="_blank">Froglet by Phewcumber</a> and a lily gif from <a href="https://bettysgraphics.neocities.org/plants" target="_blank">Betty's graphics</a>