<div class="external-code">
    <center id="digital-collections">
        Part of the<br />
        <a href="https://birdrobot.party/rings/collections/"><b>Digital Collections Ring</b></a><br />
        <a href="https://birdrobot.party/rings/collections/?action=previous">&larr; prev</a>
        <a href="https://birdrobot.party/rings/collections/?action=random">random</a>
        <a href="https://birdrobot.party/rings/collections/?action=next">next &rarr;</a>
    </center>
</div>
<div class="external-code"><iframe src="https://xpace.nekoweb.org/webring/widget.html?site=aqe" width="266px" height="201px"
        style="border:none;">
    </iframe></div>
<div class="external-code"><iframe height="300" width="640" src="https://webring.htmlhobbyist.com/site/aque.fyi.com/"
        title="The HTML Hobbyist Webring"></iframe></div>
<div class="external-code">
    <script src="https://autistbh.neocities.org/webring/webringblinkgif.js"></script><ring-114
        site="https://AUTISM.neocities.org/"></ring-114>
</div>
<div class="external-code">
    <div id="bonki-ring">
        <script type="text/javascript"
            src="https://bonkiscoolsite.neocities.org/bonkiring/bonkiring-widget.js"></script>
    </div>
</div>
<div class="external-code">
    <div id='colorsplash'>
        <script type="text/javascript" src="https://daedrms.neocities.org/angel/onionring-variables.js"></script>
        <script type="text/javascript" src="https://daedrms.neocities.org/angel/onionring-widget.js"></script>
        <link rel="stylesheet" href="https://daedrms.neocities.org/angel/onionring.css">
    </div>
</div>
<div class="external-code">
    <div id="theproshittersring">
        <script type="text/javascript" src="https://proshitter.nekoweb.org/onionring/onionring-variables.js"></script>
        <script type="text/javascript" src="https://proshitter.nekoweb.org/onionring/onionring-widget.js"></script>
        <!-- <script>document.getElementById('theimage').src="IMAGEHERE";</script> -->
    </div>
</div>
<div class="external-code"><a href="https://petrapixel.neocities.org/indiewebdb/" target="_blank"><img
            src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/links/indiewebdb.png"
            alt="indie web database"></a>
</div>
