.tooltip {
	position: relative;
	display: inline-block;
	cursor: default;
}

.tooltip .tooltiptext {
	visibility: hidden;
	padding: 0.25em 0.5em;
	background-color: var(--color-dark);
	color: #fff;
	text-align: center;
	border-radius: 0.25em;
	white-space: nowrap;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 100%;
	transition-property: visibility;
	transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	transition-delay: 0.3s;
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		/* Very short durations means JavaScript that relies on events still works */
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}

@media (prefers-contrast: high) {}

@media screen and (prefers-color-scheme: dark) {
	body {
		--bg-color: black;
		--text-color: white;
	}
}