/* ACCESSIBILITY */

/* Light Mode */
[data-theme="light"] {
	color-scheme: light;

	img {
		filter: unset;
	}

	a:not(.noformat)[target="_blank"]::after,
	.icon {
		filter: unset;
	}
}

/* Dark Mode */
[data-theme="dark"] {
	color-scheme: dark;

	img {
		filter: brightness(.8) contrast(1.2);
	}

	a:not(.noformat)[target="_blank"]::after,
	.icon {
		filter: invert(1);
	}
}

.access--motion {
	animation-duration: unset;
	animation-iteration-count: unset;
	transition-duration: unset;
}

.access--high-contrast {
	--font-color: var(--base-color-darkest) !important;
	--color-dark: var(--base-color-darkest) !important;
	--color-light: var(--base-color-darkest) !important;
	--color-primary: var(--base-color-contrast) !important;
	--color-secondrary: var(--base-color-contrast) !important;
	--color-accent: var(--base-color-contrast) !important;

	img {
		filter: unset;
	}

	.icon {
		filter: unset;
	}

	a:not(.noformat)[target="_blank"]::after {
		filter: unset;
	}
}

.light-mode {
	--font-color: var(--color-dark);
	--element-light: var(--color-light);
	--element-dark: var(--color-dark);
	--element-primary: var(--color-primary);
	--element-secondrary: var(--color-secondrary);
	--element-accent: var(--color-accent);
}

.dark-mode {
	--font-color: var(--color-lightest);
	--element-light: var(--color-darkest);
	--element-dark: var(--color-lightest);
	--element-primary: var(--color-darkest);
	--element-secondrary: var(--color-middle);
	--element-accent: var(--color-middle);
}

.dark-mode img {
	filter: brightness(.8) contrast(1.2);
}

.access--complexity {
	border-width: 0 !important;
}

.access--special-font {
	font-family: var(--base-font);
	--font-title: var(--font-base-title);
	--font-subtitle: var(--font-base-subtitle);
}

.access--dyslexic-font {
	font-family: var(--accessible-font);
	--accessible-font: var(--dyslexic-font);
	--font-title: var(--dyslexic-font);
	--font-subtitle: var(--dyslexic-font);
}

.access--large-font {
	font-size: larger;
}

.access--font {
	font-family: var(--accessible-font);
}