.tooltip {
	position: relative;
	display: inline-block;
	cursor: default;
}

.tooltip .tooltiptext {
	visibility: hidden;
	padding: 0.25em 0.5em;
	background-color: var(--color-dark);
	color: #fff;
	text-align: center;
	border-radius: 0.25em;
	white-space: nowrap;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 100%;
	transition-property: visibility;
	transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	transition-delay: 0.3s;
}

.motion {
	animation-duration: unset;
	animation-iteration-count: unset;
	transition-duration: unset;
}

/* Light Mode */
[data-theme="light"] {
	color-scheme: light;

	img {
		filter: unset;
	}

	a:not(.noformat)[target="_blank"]::after,
	.icon {
		filter: unset;
	}
}

/* Dark Mode */
[data-theme="dark"] {
	color-scheme: dark;

	img {
		filter: brightness(.8) contrast(1.2);
	}

	a:not(.noformat)[target="_blank"]::after,
	.icon {
		filter: invert(1);
	}
}

.high-contrast {
	--font-color: var(--color-darkest) !important;
	--element-dark: var(--color-darkest) !important;
	--element-light: var(--color-darkest) !important;
	--element-primary: var(--color-contrast) !important;
	--element-secondrary: var(--color-contrast) !important;
	--element-accent: var(--color-contrast) !important;

	img {
		filter: unset;
	}

	.icon {
		filter: unset;
	}

	a:not(.noformat)[target="_blank"]::after {
		filter: unset;
	}
}

.hide {
	display: none !important;
}

.hide-toggle{
	display: none !important;
}

.complexity {
	border-width: 0 !important;
}

.special-font {
	font-family: unset;
	--font-title: var(--font1);
	--font-subtitle: var(--font2);
}

.dyslexic-font {
	font-family: var(--dyslexic-font);
	--font-title: var(--dyslexic-font);
	--font-subtitle: var(--dyslexic-font);
}