/* DEFAULT STYLING */
@layer defaults {
	* {
		box-sizing: border-box;
	}

	html {
		background-color: var(--color-light);
	}

	body {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow-x: hidden;

		@media only screen and (min-width: 600px) {
			background-position: 0% 100%;
			background-image: var(--gradient-sun), url("/assets/images/layout/grass-border.webp"), url("/assets/images/layout/water-border.webp"), var(--gradient-water);
			background-repeat: repeat-x;
		}
	}

	img:not(.gallery *) {
		max-width: 30vw;
	}

	section {
		margin: 1%;
		clear: both;
	}

	p {
		text-indent: 1%;
		text-align: left;
		line-height: 1.5rem;
		min-width: fit-content;
	}

	iframe {
		max-height: 50vh;
		max-width: 50vw;
	}

	ul,
	ol {
		line-height: 1.5rem;
	}

	ul {
		list-style-type: circle;
	}

	a:not(.noformat, .external-code *) {
		position: relative;
		text-decoration: none;
		color: var(--color-dark);
		background-color: var(--color-accent-transparent);
		border-radius: var(--border-radius);
		padding: 0.2rem 0.5rem 0 0.5rem;
		line-height: 1em;

		&::after {
			content: "→";
			margin-left: 0.3rem;
		}

		@media only screen and (min-width: 768px) {
			white-space: nowrap;
		}
	}

	a {
		position: relative;
		text-decoration: none;
		color: var(--color-dark);
		padding: 0.2rem 0.5rem 0 0.5rem;
		line-height: 1em;

		@media only screen and (min-width: 768px) {
			white-space: nowrap;
		}
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-title);
	}

	details {
		border-style: dotted;
		border-width: calc(var(--border-width)*2);
		border-radius: var(--border-radius);
	}

	summary {
		border-radius: var(--border-radius);
		padding: 0.5rem;
		background-color: var(--color-accent);
		margin-bottom: 0.1em;
	}

	sup {
		font-size: xx-small;
	}

	textarea {
		width: 20vw;
	}

	table:not(.external-code *) {
		border: var(--border-width) solid var(--color-dark);
		border-radius: var(--border-radius);
		width: 100%;
	}

	th:not(.external-code *) {
		border-right: var(--border-width) solid var(--color-dark);
	}

	td:not(.external-code *),
	th:not(.external-code *) {
		border-bottom: var(--border-width) solid var(--color-dark);
		border-right: var(--border-width) solid var(--color-dark);
		padding: 0.5rem;
	}

	th:not(.external-code *) {
		background-color: var(--color-accent);
		border-radius: var(--border-radius);
	}

	tr:nth-child(even):not(.external-code *) {
		background-color: var(--color-secondrary-transparent);
	}

	tr:hover:not(.external-code *) {
		background-color: var(--color-secondrary);
	}

	dfn{
		font-weight: bold;
	}

	figure{
		padding: 0;
		margin: 0;
		position: relative;
	}

	figure:not(.pswp-gallery__item *){
		border: var(--border-width) dashed var(--color-secondrary);
		padding: 0.5rem;
	}
}