/* FOOTER */

.layout__footer {
	flex-basis: 5vh;
	position: relative;
	flex-grow: 1;
}

.footer__content {
	padding: 0 2rem 0 2rem;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}