#hero-bg {
	background-color: var(--color-secondrary);
	border-radius: var(--border-radius);
	padding: 1%;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}

#hero-body {
	display: flex;
	flex-direction: row;
	gap: 1%;
	width: 100%;
	align-items: center;
	font-family: "Viaoda Libre";
	min-height: 0;
	z-index: 2;
	margin: unset;
}