#hero-bg {
	background-color: var(--element-secondrary-transparent);
	border-radius: var(--border-radius);
	padding: 1%;
}

#hero-content {
	display: flex;
}

#hero-body {
	min-height: 0;
	z-index: 2;
	margin: unset;
	display: flex;
	position: relative;
	justify-content: space-between;
	z-index: 3;
	flex-direction: column;

	@media only screen and (min-width: 800px) {
		flex-direction: row;
	}
}

.logo {
	display: flex;
	flex-direction: row;
	gap: 1%;
	width: 100%;
	align-items: center;
	font-family: var(--font-title);
}

.accessibility-btns {
	display: flex;
	flex-direction: row;
	align-self: end;
	flex-wrap: wrap;
	z-index: 3;
	gap: 0.1rem;
}

.accessibility-btns span {
	display: inline;
}