#page {
	position: relative;
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 600px) {
		margin: 0 2% 0 2%;
	}
}

main {
	flex-grow: 1;
	margin: 1%;
	background-color: var(--element-primary-transparent);
	border-radius: var(--border-radius);
	z-index: 3;

}

#page-contents {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	z-index: 4;

	@media only screen and (min-width: 1000px) {
		flex-direction: row;
		gap: 1rem;
	}
}

article {
	width: 100%;
	padding: 1%;
	position: relative;
}

.content {
	margin: 1%;
}

section {
	margin: 1%;
}

.columns {
	display: flex;
	gap: 1%;
	justify-content: space-around;
	flex-direction: column;

	@media only screen and (min-width: 1000px) {
		flex-direction: row;
	}
}

.column {
	flex-basis: 50%;
	flex-grow: 1;
}

.wrap {
	flex-wrap: wrap;
}

.wrap .item {
	margin-bottom: 1rem;
}

.column-side {
	flex-shrink: 1;
}

.columns-spaced {
	justify-content: space-between;
}

.quotes {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items:center;
}