* {
	box-sizing: border-box;

}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

html {
	background-color: var(--element-light);
}

body {
	background-color: var(--gradient-top);

	@media only screen and (min-width: 600px){
		background-position: 0% 100%;
		background-image: var(--gradient-sun), url("/assets/images/layout/grass-border.webp"), url("/assets/images/layout/water-border.webp"), var(--gradient-bottom);
		background-repeat: repeat-x;
		background-position: 0% 100%;
	}
}

#proshit {
color: #000000;
background-color: #FFFFFF;
display: inline-block;
height: 140px;
max-height: 140px;
overflow:hidden;
text-align: center;
text-transform: uppercase;
}
#proshitouter {
text-align: center;
background-color: #FFFFFF;
border: 2px solid #000000;
border-radius: 8px;
max-height:140px;
overflow: hidden;
display: inline-block;
margin: 0 auto; /* centers the widget */
}