/* SITE NAVIGATION */

.layout__sidebar {
	flex-basis: 10vw;
	max-height: 4rem;
	flex-grow: 1;
	z-index: 4;

	@media only screen and (max-width: 800px) {
		background-color: var(--color-secondrary);
	}

	@media only screen and (min-width: 800px) {
		max-height: unset;
	}
}

.nav__contact-link {
	background-color: var(--color-accent);
}

.sitenav {
	display: none;
	height: 100%;

	@media only screen and (min-width: 800px) {
		display: flex;
	}
}

.sitenav__menu {
	transform: translate(-150%);
	transition: transform 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
	position: relative;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	background-color: var(--color-secondrary);
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 1rem;

	@media only screen and (min-width: 800px) {
		transform: unset;
		margin-top: unset;
		background-color: unset;
		padding: unset;
		border-radius: unset;
		border-bottom: unset;
		background-color: var(--color-primary);
	}
}

.sitenav__menu-category {
	cursor: pointer;
	margin-bottom: 0.1rem;
}

/* code courtesy of https://css-tricks.com/using-styling-the-details-element/ */
.sitenav__menu-category__name {
	/* Pin the custom marker to the container */
	position: relative;
	padding: unset;
	margin-bottom: unset;

	/* Hide original marker */
	&::marker {
		content: "";
	}

	&::before,
	&::after {
		/* Custom marker dimensions */
		content: "";
		border-block-start: 0.1rem solid var(--color-dark);
		height: 0;
		width: 1rem;
		margin-right: 0.5rem;

		/* Positions the lines */
		inset-block-start: 50%;
		inset-inline-end: 0;

		/* Anchor the shape to the summary */
		position: absolute;
		right: 0;
	}

	/* Rotate just the ::after line to create a "+"" shape */
	&::after {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
}

/* Rotate the line when open */
.sitenav__menu-category[open] .sitenav__menu-category__name::after {
	transform: rotate(0deg);
}

.sitenav__menu-category {
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-family: var(--font-title);
	font-size: 1.1rem;
	font-weight: bold;
	min-width: max-content;
	position: relative;
}

.sitenav__menu-category--open {
	/* background-color: var(--color-accent); */
	background-image: var(--gradient-accent-top);
	border-radius: var(--border-radius);
}

.sitenav__menu-category__label {
	margin-right: 1.5rem;
	border-style: unset;
	border-width: unset;
	border-radius: unset;
	/* to add space for the nav + */
}

.sitenav__menu-list {
	line-height: 1.2rem;
	list-style-type: none;
	border-inline-start: 1rem;
	padding-inline-start: 1rem;
	margin: 0.2rem 0.1rem 0.2rem 0.1rem;
}

.sitenav__menu-link {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.2rem;
	padding: 0.5rem;
	padding-left: 1rem;
	text-align: left;
	width: 100%;
	font-family: var(--font-subtitle);
	font-weight: bold;
	text-decoration: none;
	color: var(--font-color);
}

.sitenav__menu-link:not([target="_blank"]) {
	&::after {
		content: unset;
		margin-left: unset;
	}
}

.sitenav__menu-link--active {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-family: var(--font-title);
	font-weight: bolder;
}