.box {
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
}

.box-small {
	padding-left: 40%;
	padding-right: 40%;
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
	gap: 1%;
}