@font-face {
	font-family: 'opendyslexic';
	src: url('/assets/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

:root {
	/* vars */
	--border-radius: 1rem;
	--transparency: 60%;

	/* colors */
	--color-light: #dafbd5;
	--color-dark: #1C4A1D;
	--color-primary: #c6f9be;
	--color-secondrary: #96d98c;
	--color-accent: #FFE6FF;

	--color-blue: #7FFFD4;
	--color-yellow: #FFE284;
	--color-transparent: transparent;

	/* accessibility colors */
	--color-darkest: #0f2810;
	--color-lightest: #fcf9f5;
	--color-middle: #643f4f;
	--color-contrast: #FFD700;

	/* fonts */
	--font1: "Viaoda Libre";
	--font2: "Poiret One";
	--dyslexic-font: 'opendyslexic';
	--default-font: system-ui;

	/* gradients */
	--gradient-left: linear-gradient(to right, var(--element-accent) 10%, var(--color-transparent));
	--gradient-right: linear-gradient(to left, var(--element-secondrary), var(--color-transparent));
	--gradient-top: linear-gradient(to bottom, var(--element-accent), var(--color-transparent));
	--gradient-bottom: linear-gradient(to top, var(--color-blue), var(--color-transparent) 70%, var(--element-blue-transparent));
	--gradient-sun: linear-gradient(320deg, var(--color-transparent) 90%, var(--color-yellow) 100%);

	/* setup */
	--font-color: light-dark(var(--color-dark), var(--color-lightest));
	--border-color: light-dark(var(--color-dark), var(--color-lightest));
	--button-hover: light-dark(var(--color-secondrary), var(--color-middle));
	--element-light: light-dark(var(--color-light), var(--color-darkest));
	--element-dark: light-dark(var(--color-darkest), var(--color-lightest));
	--element-primary: light-dark(var(--color-primary), var(--color-darkest));
	--element-secondrary: light-dark(var(--color-secondrary), var(--color-middle));
	--element-accent: light-dark(var(--color-accent), var(--color-middle));
	color: var(--font-color);
	--fancy-border-color: var(--element-dark);

	--element-primary-transparent: color-mix(in srgb, var(--element-primary) var(--transparency), transparent);
	--element-secondrary-transparent: color-mix(in srgb, var(--element-secondrary) var(--transparency), transparent);
	--element-accent-transparent: color-mix(in srgb, var(--element-accent) var(--transparency), transparent);
	--element-light-transparent: color-mix(in srgb, var(--element-light) var(--transparency), transparent);
	--element-blue-transparent: color-mix(in srgb, var(--color-blue) 50%, transparent);

	font-family: var(--default-font);
	--font-title: var(--default-font);
	--font-subtitle: var(--default-font);

	/* Very short durations means JavaScript that relies on events still works */
	animation-duration: 0.001ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.001ms !important;

}