:root, html,
body {
	/* vars */
	--border-radius: 1rem;
	--transparency: 60%;

	/* colors */
	--color-light: #dafbd5;
	--color-dark: rgb(28, 74, 29);
	--color-primary: #c6f9be;
	--color-secondrary: #96d98c;
	--color-accent: #FFE6FF;

	--color-blue: #7FFFD4;
	--color-yellow: #FFE284;
	--color-transparent: transparent;

	/* accessibility colors */
	--color-darkest: #121212;
	--color-lightest: #fcf9f5;
	--color-middle: #323335;
	--color-contrast: #FFD700;

	/* fonts */
	--font1:"Viaoda Libre";
	--font2:"Poiret";

	/* gradients */
	--gradient-left: linear-gradient(to right, var(--element-accent) 10%, var(--color-transparent));
	--gradient-right: linear-gradient(to left, var(--element-secondrary), var(--color-transparent));
	--gradient-top: linear-gradient(to bottom, var(--element-accent), var(--color-transparent));
	--gradient-bottom: linear-gradient(to top, var(--color-blue), var(--color-transparent) 70%, var(--element-blue-transparent));
	--gradient-sun: linear-gradient(320deg, var(--color-transparent) 90%, var(--color-yellow) 100%);

	/* setup */
	--font-color: var(--color-dark);
	--border-color: var(--color-dark);
	--fancy-border-color: var(--element-dark);
	--button-hover: var(--element-secondrary);
	--element-light: var(--color-light);
	--element-dark: var(--color-dark);
	--element-primary: var(--color-primary);
	--element-secondrary: var(--color-secondrary);
	--element-accent: var(--color-accent);
	color: var(--font-color);

	--element-primary-transparent: color-mix(in srgb, var(--element-primary) var(--transparency), transparent);
	--element-secondrary-transparent: color-mix(in srgb, var(--element-secondrary) var(--transparency), transparent);
	--element-accent-transparent: color-mix(in srgb, var(--element-accent) var(--transparency), transparent);
	--element-light-transparent: color-mix(in srgb, var(--element-light) var(--transparency), transparent);
	--element-blue-transparent: color-mix(in srgb, var(--color-blue) 50%, transparent);

	--font-title: var(--font1);
	--font-subtitle: var(--font2);
}