/* TOOLTIPS */

/* data-tip tooltips from */
/* https://jsfiddle.net/BumU5/3/ */

[data-tip] {
    font-family: var(--accessible-font);
    position: relative;
}

[data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--base-color-darkest);
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    z-index: 10;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 2.5rem;
    left: 0px;
    padding: 0.25rem 0.5rem;
    background: var(--base-color-darkest);
    color: var(--base-color-lightest);
    z-index: 10;
    font-size: 0.75em;
    height: fit-content;
    width: 200%;
    min-width: fit-content;
    line-height: 1rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    /* white-space: normal;
  word-wrap: normal;
  overflow-wrap: normal; */
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}